version: '3.7'
services:
  backend:
    build: 
      context: backend-python/
      dockerfile: Dockerfile
    depends_on: 
      db:
        condition: service_healthy
    networks:
    - application
    ports:
    - 8080:8080
  frontend:
    build: 
      context: frontend-node/
      dockerfile: Dockerfile
    init: true
    networks:
    - application
    ports:
    - 9090:9090
    depends_on:
    - backend
  db:
    build: 
      context: backend-mysql/
      dockerfile: Dockerfile
    # volumes:
    # - ./backend-mysql/db-data:/var/lib/mysql
    # volumes:
    # - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: mysecret
      MYSQL_DATABASE: mydb
    networks:
    - application
    ports:
    - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
networks:
  application:
    name: application
# volumes:
#   db_data: {}